<section>
  <center>
    <a href="<%= root_path %>"></a>
    <p>Log in to get the juices flowing.</p>
    <%= link_to "Log in with Google", user_google_oauth2_omniauth_authorize_path %>
  </center>
</section>
