<h1>About</h1>

<h2>Pi·not</h2>
<h3>ˈpēnō,pēˈnō/</h3>

<p>We know noir... film noir to be exact.</p>

<h3>Made by the Pinot Noirs (aka)</h3>
<ul>
  <li>Aaron Selkridge</li>
  <li>Andre Ferreira</li>
  <li>Armen Nercesian</li>
  <li>Chris Becker</li>
  <li>Julia de Lorimier</li>
  <li>Mark El-Khoury</li>
  <li>natalie rodriguez</li>
</ul>
