@import url(//fonts.googleapis.com/css?family=Cutive+Mono);

body {
  font-family: 'Cutive Mono', Helvetica, Arial;
  background-color: #446f01;
  color: #ff4b00;
}


.logo{
  margin: 0 auto;
  text-align: center;
}
