@import url(//fonts.googleapis.com/css?family=Cutive+Mono);

body {
  font-family: 'Cutive Mono', Helvetica, Arial;
  background-color: #00BCD4;
  color: #f35818;
}


.logo{
  margin: 0 auto;
  text-align: center;
}
